Repository daengdaengLee/until, pull requests merged in 2023-09, with the labels that each got.

#11 Item 엔티티 객체 개발
  src/main/java/hello/until/item/entity/Item.java
Labels: enhancement

#36 상품 단건 조회 API 엔드포인트 개발
  src/main/java/hello/until/item/controller/ItemController.java
  src/main/java/hello/until/item/dto/response/ReadItemResponse.java
  src/main/java/hello/until/item/entity/Item.java
Labels: enhancement, doamin/item

#37 상품 다중 조회 서비스 기능 개발
  src/main/java/hello/until/item/service/ItemService.java
  src/test/java/hello/until/item/service/ItemServiceTest.java
Labels: enhancement, doamin/item

#45 CustomException 용 전역 Advice 추가
  src/main/java/hello/until/exception/CustomExceptionAdvice.java
  src/main/java/hello/until/exception/ExceptionCode.java
Labels: enhancement

#46 refactor : user controller 공통 Exception 처리 완료.
  src/main/java/hello/until/exception/CustomException.java
  src/main/java/hello/until/exception/CustomExceptionAdvice.java
  src/main/java/hello/until/exception/ExceptionCode.java
  src/main/java/hello/until/user/controller/UserController.java
  src/main/java/hello/until/user/dto/response/UserResponse.java
  src/main/java/hello/until/user/service/UserService.java
Labels: domain/user, refactor

#50 refactor : User Entity 수정
  src/main/java/hello/until/exception/ExceptionCode.java
  src/main/java/hello/until/user/dto/response/UserResponse.java
  src/main/java/hello/until/user/entity/User.java
  src/main/java/hello/until/user/service/UserService.java
  src/test/java/hello/until/user/repository/UserRepositoryTest.java
  src/test/java/hello/until/user/service/UserServiceTest.java
Labels: domain/user, refactor

#39 상품 등록 API 엔드포인트 개발
  src/main/java/hello/until/item/controller/ItemController.java
  src/main/java/hello/until/item/dto/request/CreateItemRequest.java
  src/main/java/hello/until/item/dto/response/CreateItemResponse.java
  src/test/java/hello/until/item/controller/ItemControllerTest.java
Labels: enhancement, doamin/item

#49 Feat : 유저 다중조회 기능
  src/main/java/hello/until/user/controller/UserController.java
  src/main/java/hello/until/user/repository/UserRepository.java
  src/main/java/hello/until/user/service/UserService.java
  src/test/java/hello/until/user/service/UserServiceTest.java
Labels: enhancement, domain/user

#51 refactor: userController 응답객체 변경
  src/main/java/hello/until/exception/ExceptionCode.java
  src/main/java/hello/until/user/controller/UserController.java
Labels: domain/user, refactor

#60 상품 수정 API 엔드포인트 개발
  src/main/java/hello/until/item/controller/ItemController.java
  src/main/java/hello/until/item/dto/request/UpdateItemRequest.java
  src/main/java/hello/until/item/dto/response/CreateItemResponse.java
  src/main/java/hello/until/item/dto/response/ItemResponse.java
  src/main/java/hello/until/item/service/ItemService.java
Labels: enhancement, doamin/item

#53 상품 다중 조회 API 앤드포인트 개발
  src/main/java/hello/until/exception/CustomExceptionAdvice.java
  src/main/java/hello/until/item/controller/ItemController.java
  src/main/java/hello/until/item/dto/response/ReadAllItemResponse.java
  src/test/java/hello/until/item/controller/ItemControllerTest.java
Labels: enhancement, doamin/item

#55 상품 조회 API 엔드포인트 단위 테스트 작성
  src/main/java/hello/until/exception/CustomException.java
  src/main/java/hello/until/exception/ExceptionCode.java
  src/main/java/hello/until/item/controller/ItemController.java
  src/main/java/hello/until/item/entity/Item.java
  src/test/java/hello/until/item/controller/ItemControllerTest.java
Labels: doamin/item, refactor

#63 자동 테스트 실행 GitHub workflow 작성
  .github/workflows/ci.yml
Labels: refactor

#59 feat: user Role 생성
  src/main/java/hello/until/user/constant/Role.java
  src/main/java/hello/until/user/controller/UserController.java
  src/main/java/hello/until/user/dto/request/UpdateUserRequest.java
  src/main/java/hello/until/user/dto/response/GetUserResponse.java
  src/main/java/hello/until/user/dto/response/UserResponse.java
  src/main/java/hello/until/user/entity/User.java
  src/main/java/hello/until/user/service/UserService.java
  src/test/java/hello/until/user/repository/UserRepositoryTest.java
  src/test/java/hello/until/user/service/UserServiceTest.java
Labels: doamin/item, refactor

#68 상품 삭제 API 엔드포인트 개발
  src/main/java/hello/until/item/controller/ItemController.java
Labels: enhancement, doamin/item

#69 상품 수정 API 엔드포인트 테스트 작성
  src/main/java/hello/until/item/entity/Item.java
  src/test/java/hello/until/item/controller/ItemControllerTest.java
Labels: enhancement, doamin/item

#77 로그인한 사용자만 상품 삭제 가능하게 인증
  src/main/java/hello/until/config/SecurityConfig.java
  src/main/java/hello/until/exception/ExceptionCode.java
Labels: enhancement, doamin/item

#72 상품과 회원 연관 관계 등록
  src/main/java/hello/until/exception/ExceptionCode.java
  src/main/java/hello/until/item/controller/ItemController.java
  src/main/java/hello/until/item/dto/request/CreateItemRequest.java
  src/main/java/hello/until/item/entity/Item.java
  src/main/java/hello/until/item/service/ItemService.java
  src/test/java/hello/until/item/controller/ItemControllerTest.java
  src/test/java/hello/until/item/service/ItemServiceTest.java
Labels: enhancement, domain/user, doamin/item

#84 상품 seller 만 상품 삭제 가능하게 인가
  src/main/java/hello/until/item/controller/ItemController.java
  src/main/java/hello/until/item/service/ItemService.java
  src/main/java/hello/until/user/entity/User.java
Labels: enhancement, doamin/item

#86 UserContoller 테스트 케이스 추가
  src/main/java/hello/until/user/dto/response/UserResponse.java
  src/main/java/hello/until/user/entity/User.java
  src/test/java/hello/until/item/controller/ItemControllerTest.java
  src/test/java/hello/until/user/controller/UserControllerTest.java
Labels: enhancement, domain/user

#85 seller 만 상품 등록할 수 있게 인가
  src/main/java/hello/until/config/SecurityConfig.java
  src/main/java/hello/until/exception/ExceptionCode.java
  src/main/java/hello/until/item/controller/ItemController.java
  src/main/java/hello/until/item/service/ItemService.java
  src/test/java/hello/until/item/controller/ItemControllerTest.java
  src/test/java/hello/until/item/service/ItemServiceTest.java
Labels: enhancement, domain/user, doamin/item
